<div id="test-grid" class="moby-grid">
  <%= erb :labs %>
  <%= erb :small %>
  <%= erb :small %>
  <%= erb :tall %>
  <%= erb :wide %>
  <%= erb :small %>
  <%= erb :labs %>
  <%= erb :large %>
  <%= erb :labs %>
  <%= erb :small %>
  <%= erb :small %>
  <%= erb :small %>
  <%= erb :labs %>
  <%= erb :wide %>
  <%= erb :small %>
  <%= erb :small %>
  <%= erb :large %>
  <%= erb :tall %>
  <%= erb :labs %>
  <%= erb :wide %>
  <%= erb :small %>
</div>